@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login-conten-title-conten {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Create-new-password-page {
  padding-top: 15%;
  flex-direction: column;
  gap: 44px;
}

.homeBox {
  text-align: center;
}

.login-input-frogot {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo {
  width: 123px;
  height: 123px;
  padding: 3.849px 2.678px 3.597px 2.84px;
}

.Create-new-password-page.blur-background {
  filter: blur(5px);
}

.Success {
  z-index: 9999;
}

.login-title-conten {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.login-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
}

.login-conten {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
}

.input-from {
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--primary-100, #813999);
  -webkit-backdrop-filter: blur(2.5px);
  width: -57px; /* <-- Check this value, it seems incorrect */
}

.forget-password {
  color: var(--orange-100, #EF8100);
  text-align: end;
  margin: 10px;
  cursor: pointer;
}

.login-action-container {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

